/* Estilo global para asegurar que la página ocupe toda la pantalla */

body{
  display: block;
  margin: 0;
  padding: 0;
}


.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.titles{
  margin-top: 50px;
  margin-bottom: 50px;
}

.titles h1{
  margin-top: auto;
  display: flex;
  justify-content: center;
  font-size: 3em;
  margin-bottom: 10px;
}

.titles h2{
  display: flex;
  justify-content: center;
  font-size: 1em;
  font-weight: lighter;
}

form {
  width: 70%;
  padding: 20px;
  
}

form h3{
  border-top: solid 3px rgb(54, 54, 54);
  border-bottom: solid 3px rgb(54, 54, 54) ;
  padding: 10px;
  margin-bottom: 50px;
}

.allform {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titimg, .catvid {
  width: 46%;
  display: flex;
  flex-direction: column;
}

.input, .select, .textarea{
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  border: solid rgb(54, 54, 54);
  font-size: 14px;
  width: 100%;
  background-color: transparent;
}

.video{
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  border: solid rgb(54, 54, 54);
  font-size: 14px;
  width: 91.4%;
  background-color: transparent;
  margin-top: 33px;
}

select{
  appearance: none;
}

select:focus{
  background-color: rgb(54, 54, 54);
}

form textarea {
  height: 130px;
}
.buttons{
  margin-top: 10px;
  display: flex;
  gap: 20px;
  
}
.buttons button {
  text-align: center;
  padding: 10px 30px;
  border-radius: 10px;
  background: var(--primary-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: solid;
}

.buttons .buttonSave{
  border-color: #2271D1;
}

 .buttons .buttonSave:hover{
  transition: box-shadow 0.5 ease-in-out;
  outline-offset: -2px;
  box-shadow: 0px 0px 7px 4px #6BD1FF; 
 } 

.buttons .buttonReset:hover{
  transition: box-shadow 0.5 ease-in-out;
  outline-offset: -2px;
  box-shadow: 0px 0px 7px 4px #ffffff;
}

.buttons .buttonSave:active{
  background-color: #2271D1;
  transform: scale(0.9);
}

.buttons .buttonReset:active{
  background-color: #ffffff;
  transform: scale(0.9);
  color: #2271D1;
}

.error-message {
  color: red;
  margin-bottom: 15px;
  font-size: 14px;
}

label {
  margin-bottom: 10px;
  font-weight: bold
}


@media (max-width: 426px) {

  .titles{
    text-align: center;
  }

}


.form{
  gap: 50px;
  margin: 0;
  padding: 0;
  width: 80%;
}


.input, .select, {
}

